
CONFIG_BOARD_GAP9MOD_V1_0_B=y
CONFIG_BOARD_GAP9EVK_V1_3=y
CONFIG_BOARD_AUDIO_ADDON_V2_1=y
CONFIG_BOARD_AUDIO_ADDON_V2_1_OPTION_SSM6515_PDM=y
CONFIG_PLATFORM_BOARD=n
CONFIG_DRIVER_I2C=y
CONFIG_DRIVER_I2S=y

CONFIG_DRIVER_TYPE_RAM=y
CONFIG_DRIVER_MX25U51245G=y
CONFIG_DRIVER_MX25U51245G_BAUDRATE_DEFAULT=y

CONFIG_DRIVER_TYPE_FLASH=y
CONFIG_DRIVER_HOSTFS=y
CONFIG_DRIVER_READFS=y

CONFIG_OPENOCD_SCRIPT_DEFAULT=y
CONFIG_BOOT_DEVICE_JTAG=y
CONFIG_IO_TYPE_UART=y
CONFIG_IO_UART_ITF_1=y
CONFIG_IO_UART_ITF=1
CONFIG_IO_UART_BAUDRATE=115200
CONFIG_DRIVER_ADS1014=y

# Autotiler Settings
CONFIG_ENABLE_AUTOTILER=y
CONFIG_CNN_SQ8=y
CONFIG_CNN_POW2=n
CONFIG_CNN_FP16=y
CONFIG_CNN_NE16=y
CONFIG_MODEL_HAS_NO_CONSTANTS=n
CONFIG_MODEL_FLASH_TYPE_MRAM=y
CONFIG_MODEL_RAM_TYPE_DEFAULT=y
CONFIG_MODEL_EMUL=n
CONFIG_DRIVER_CLUSTERDECOMPRESSOR=n
CONFIG_MODEL_L2_MEMORY=1100000

CONFIG_LIB_GAP_LIB=y
CONFIG_LIB_GAP_LIB_WAV_IO=y

#Drivers
CONFIG_DRIVER_SSM6515=y
CONFIG_DRIVER_TYPE_FLASH=y
CONFIG_DRIVER_MX25U51245G=y
CONFIG_DRIVER_T3902=y

CONFIG_LIB_SFU=y
CONFIG_LIB_SFU_V2=y
CONFIG_LIB_SFU_OPTION_AUDIO_SW_QUEUES=y
CONFIG_LIB_SFU_OPTION_CMD_QUEUE=y
CONFIG_NEW_TILER_DSP_LIB=y
